.App{
  margin: 50px 30px;
  padding: 25px;
  background-color: #111;
  color: #e2c314;
}

body{
  background-color: #000;
}

.container{
  display: flex;
  flex-direction: column;
}

.container ul li{
  width: 180px;
  overflow-wrap: break-word;
  list-style: "👉";
  cursor: pointer;
}

.done{
  text-decoration: line-through;
}

input{
  outline: none;
  padding: 3px;
  font-size: 20px;
}

button{
  cursor: pointer;
  margin-top: 5px;
  background-color: #e2c314;
  border: none;
  padding: 5px;
}

.items{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.trash{
  cursor: pointer;
}